//?	Buttons (WPF2)
//!	Estruturação de botões e seus estilos em todo o site:

//* Instâncias: extensões da folha de estilos:
@use "../../vars" as var;
@use "../vendor" as wpf;
@use "sass:color" as color;
@use "sass:math" as math;

.wpf-icon {
	color: var(--c-theme, white);
	width: var(--size, wpf.toRem(50px));
	height: var(--size, wpf.toRem(50px));
	font-size: var(--size, wpf.toRem(50px));

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: relative;
	margin: 15px 30px;
	text-align: center;
	cursor: pointer;
	z-index: 1;

	&::after{
		content: '';
		border-radius: 50%;
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;

		@include wpf.addVendors(box-sizing, content-box);
	}

	svg{
		height: .6em;
		width: auto;

		*{
			transition: stroke 0.2s, fill 0.2s;
			-webkit-transition: stroke 0.2s, fill 0.2s;
			-moz-transition: stroke 0.2s, fill 0.2s;
		}

		&:not(.stroke-type) * {
			fill: var(--c-theme, white);
		}

		&:is(.stroke-type) * {
			stroke: var(--c-theme, white);
		}
	}

	//? [1] Efeito Border Highlight: 
	//? ----------------------------------------------------------------

	&.fx-border-highlight, 
	&.fx-1{
		background: rgba(255, 255, 255, 0.1);

		transition: background 0.2s, color 0.2s;
		-webkit-transition: background 0.2s, color 0.2s;
		-moz-transition: background 0.2s, color 0.2s;

		&:after{
			box-shadow: 0 0 0 4px var(--c-theme, white);
			top: -7px;
			left: -7px;
			padding: 7px;
			opacity: 0;
			
			transition: transform 0.2s, opacity 0.2s;
			-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
			-moz-transition: -moz-transform 0.2s, opacity 0.2s;

			@include wpf.addVendors(transform, scale(.8));
		}

		&:hover{
			svg{
				&:not(.stroke-type) * {
					fill: var(--c-content, black);
				}

				&:is(.stroke-type) * {
					stroke: var(--c-content, black);
				}
			}
		}

		// Variação A:
		&.type-a{
			&:hover{
				color: var(--c-content, black);

				background: var(--c-theme, white);

				&::after{
					opacity: 1;

					@include wpf.addVendors(transform, scale(1));
				}
			}
		}
		
		// Variação B:
		&.type-b{
			&::after{
				@include wpf.addVendors(transform, scale(1.2));
			}

			&:hover{
				color: var(--c-content, black);

				background: var(--c-theme, white);

				&::after{
					opacity: 1;

					@include wpf.addVendors(transform, scale(1));
				}
			}
		}
	}

	//? [2] Efeito Filled Collapse:
	//? ----------------------------------------------------------------

	&.fx-filled-collapse, 
	&.fx-2{
		box-shadow: 0 0 0 3px #fff;
		
		@include wpf.addVendors(transition, color 0.3s);

		&::after{
			background: var(--c-theme, white);

			top: -2px;
			left: -2px;
			padding: 2px;
			z-index: -1;

			transition: transform 0.2s, opacity 0.2s;
			-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
			-moz-transition: -moz-transform 0.2s, opacity 0.2s;
		}

		// Variação A:
		&.type-a{
			svg{
				&:not(.stroke-type) * {
					fill: var(--c-content, black);
				}

				&:is(.stroke-type) * {
					stroke: var(--c-content, black);
				}
			}

			&:hover{
				&::after{
					@include wpf.addVendors(transform, scale(0.85));
				}
			}
		}

		// Variação B:
		&.type-b{
			svg{
				&:not(.stroke-type) * {
					fill: var(--c-content, black);
				}

				&:is(.stroke-type) * {
					stroke: var(--c-content, black);
				}
			}

			&:hover{
				svg{
					&:not(.stroke-type) * {
						fill: var(--c-theme, white);
					}

					&:is(.stroke-type) * {
						stroke: var(--c-theme, white);
					}
				}

				&::after{
					opacity: 0;
	
					transition: transform 0.4s, opacity 0.2s;
					-webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
					-moz-transition: -moz-transform 0.4s, opacity 0.2s;
					
					@include wpf.addVendors(transform, scale(0));
				}
			}
		}
	}
}
